#sidebar
  = image_tag "distro-sidebar.png", class: "distro-logo"

  = link_to "ALL",            shop_index_path,                    class: "sidebar-link"
  = link_to "VINYL",          shop_index_path(filter: "vinyl"),   class: "sidebar-link"
  = link_to "CD-s",           shop_index_path(filter: "cd"),      class: "sidebar-link"
  = link_to "TAPES",          shop_index_path(filter: "cs"),      class: "sidebar-link"
  = link_to "T-SHIRTS",       shop_index_path(filter: "shirts"),  class: "sidebar-link"
  = link_to "ZINES",          shop_index_path(filter: "zines"),   class: "sidebar-link"
  = link_to "SPECIAL OFFERS", shop_index_path(filter: "special"), class: "sidebar-link"

  = image_tag "latest-releases-sidebar.png", class: "releases-logo"
  - @latest_releases.each do |latest_release|
    .latest-releases
      = link_to release_path(latest_release), target: "_blank" do
        .latest-release-band
          = latest_release.band_name
        .latest-releases-album
          = latest_release.name
        .latest-releases-cover
          = image_tag latest_release.product_image
