!!! 5
%html
  %head
    %title
      Doomtown Records
    = stylesheet_link_tag "application", media: "all", data: { "turbolinks-track" => true }
    = javascript_include_tag "application", data: { "turbolinks-track" => true }
    = csrf_meta_tags

  %body
    %header
      #banner= image_tag "banner.png"
      #banner-nav
        = image_tag "banner-nav.png"
        - ["news_index", "releases", "bands", "media"].each do |area|
          = navigation_links(area)

        .shop-dropdown
          = link_to '', shop_index_path, class: "nav-link shop"
          %a.nav-link.vinyl{ href: "#" }
          %a.nav-link.cds{ href: "#" }
          %a.nav-link.tshirts{ href: "#" }
          %a.nav-link.zines{ href: "#" }
          %a.nav-link.special{ href: "#" }
          %a.nav-link.offers{ href: "#" }
      #shopping-cart-link
        %a.cart-link{ href: "#" }
          = image_tag "shopping-cart.png"

    = yield

    .clear-footer
    %footer
      #footer-image= image_tag "footer-img.png"
      #foooter-mailto
        .mailto-description
          = image_tag "mailorder-info.png"
        .mailto-email
          = mail_to "doomtownrec@gmail.com" do
            = image_tag "banner-mailto.png"
      #footer-links
        .banner-link
          = link_to "http://www.last.fm", class: "lastfm" do
            = image_tag "lastfm-logo.png"
        .banner-link
          = link_to "http://www.youtube.com", class: "youtube" do
            = image_tag "yt-logo.png"
        .banner-link
          = link_to "http://www.facebook.com", class: "facebook" do
            = image_tag "fb-logo.png"
        .banner-link
          = link_to "http://www.bandcamp.com", class: "bandcamp" do
            = image_tag "bandcamp-logo.png"
