!!! 5
%html
  %head
    %title
      Doomtown Records
    = stylesheet_link_tag "application", media: "all", data: { "turbolinks-track" => true }
    = javascript_include_tag "application", data: { "turbolinks-track" => true }
    = csrf_meta_tags

  %body
    %header
      #banner= image_tag "banner.png"
      #banner-nav
        = image_tag "banner-nav.png"
        = link_to '', news_index_path, class: "nav-link news"
        = link_to '', releases_path, class: "nav-link releases"
        = link_to '', bands_path, class: "nav-link bands"
        = link_to '', media_path, class: "nav-link media"
        .shop-dropdown
          = link_to '', shop_index_path, class: "nav-link shop"
          %a.nav-link.vinyl{ href: "#" }
          %a.nav-link.cds{ href: "#" }
          %a.nav-link.tshirts{ href: "#" }
          %a.nav-link.zines{ href: "#" }
          %a.nav-link.special{ href: "#" }
          %a.nav-link.offers{ href: "#" }
      #shopping-cart-link
        %a.cart-link{ href: "#" }
          = image_tag "shopping-cart.png"

    = yield

    .clear-footer
    %footer
      #footer-image= image_tag "footer-img.png"
